{% load static %}
<!doctype html>


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

     {% block head %}

    {% endblock %}
    <title>App</title>

    <style>
    body {
        background-color: WhiteSmoke;
    }
    </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'base:store' %}">
            <img src="{% static 'img/dashboard.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            <a class="navbar-brand" href="{% url 'base:store' %}">MiniMarket</a>
        </a>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            
          
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for i in SUBCATEGORIA %}
                <a class="dropdown-item" href="{% url 'base:store_categoria' i.id %}">{{ i.nombre }}</a>
                {% endfor %}
                </div>
            </li>


            
            </ul>
            
            
            <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>  </button>
            <button type="button" class="btn btn-primary"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>  </button>
            <button type="button" class="btn btn-primary"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i> Iniciar Sesion</button>
            
        </div>
    </nav>




            <div class="row d-flex justify-content-center p-2">
                <div class="col-lg-5 col-sm-12">
                    <form>
                        <input class="form-control form-control-lg mr-sm-2" type="search" id="buscar" name="buscar" autocomplete="off" placeholder="Buscador....." aria-label="Buscar" >
                    </form>   
                </div>
                <div class="col-lg-1 col-sm-12">
                    <form>
                        <button class="btn btn-block btn-outline-success form-control-lg my-2 my-sm-0" type="submit">Buscar</button>
                    </form>   
                </div>
            </div>
  
 



    
        <div id="app" class="container-fluid p-2 mb-5 rounded">
            {% block content %}

            {% endblock %}
        </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS 

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>


    <!--Alerrt -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    {% block script %}


    {% endblock %}
  


  </body>
  </html>