{% extends 'base_store.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}


{% block content %}




{% if STATUS == 0 %}
<v-container grid-list-lg>
    <v-layout row wrap>

        <v-flex xs12 lg8 md8>
            <h2 align="center">Información de Envio</h2></br>
            <v-card class="mx-auto" >
                <v-container>
                    <v-row>
                      <v-col cols="12" xs12 lg12 md12>
                        <v-text-field
                         
                          :rules="nameRules"
                          :counter="80"
                          label="Nombre Completo"
                          required
                          color="pink"
                          value="{{ DIRECCION.nombre }}"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="6"  xs12 lg6 md6>
                        <v-text-field
                       
                        :rules="emailRules"
                        label="E-mail"
                        required
                        color="pink"
                        value="{{ DIRECCION.email }}"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="6" xs12 lg12 md12>
                        <v-text-field
                         
                          :rules="nameRules"
                          :counter="80"
                          label="Barrio/Colonia/Residencial"
                          required
                          color="pink"
                          value="{{ DIRECCION.direccion }}"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="6" xs12 lg6 md6>
                        <v-text-field
                          
                          :counter="15"
                          label="Telefono"
                          required
                          color="pink"
                          value="{{ DIRECCION.telefono }}"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="6" xs12 lg6 md6>
                        <v-text-field
                          
                          :counter="15"
                          label="Telefono"
                          required
                          color="pink"
                          value="{{ DIRECCION.telefono2 }}"
                        ></v-text-field>
                      </v-col>

                      
                      <v-col cols="12" xs12 lg12 md12>
                        <v-textarea
                        value="{{ DIRECCION.direccion2 }}"
                        label="Dirección más detallada"
                        color="pink"
                        
                      ></v-textarea>
                      </v-col>


                    
              
                    </v-row>
                  </v-container>






            </v-card>
        </v-flex>

        <v-flex xs12 lg4 md4>
            <h1 class="headline" align="center">Total a Pagar</h1></br>
            <v-card class="mx-auto" >
                

                <v-card>
                <v-simple-table>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-left">Sub Total</th>
                          <th class="text-left">{{ SUBTOTAL|floatformat:2|intcomma }}</th>
                        </tr>
                        <tr>
                            <th class="text-left">ISV 15%</th>
                            <th class="text-left">{{ ISV_15|floatformat:2|intcomma }}</th>
                          </tr>
                          <tr>
                            <th class="text-left">ISV 18%</th>
                            <th class="text-left">{{ ISV_18|floatformat:2|intcomma }}</th>
                          </tr>

                          <tr>
                            <th class="text-left">Descuento </th>
                            <th class="text-left">00.00</th>
                          </tr>
                      </thead>
                      
                    </template>
                  </v-simple-table>
                </v-card>


            <v-card>
                <v-card-text>
                    <v-row align="center">
                      <v-col class="display-1" cols="12">
                      Pagar : $ {{ TOTAL|floatformat:2|intcomma }}
                      </v-col>
                     
                      </v-col>
                    </v-row>
                  </v-card-text>
            
               
            
                <v-divider></v-divider>
            
                <v-card-actions >
                    <v-col cols="12" xs12 lg12 md12>
                    <v-form method="post" action='/store/carrito/check'>
                        {% csrf_token %}
                        <v-btn type="submit" block color="green">Validar Información</v-btn>
                    </v-form>
                    </v-col>    
                </v-card-actions>
              
            </v-card>

            </v-card>
        </v-flex>

    </v-layout>
</v-container>
{% endif %}




{% if STATUS == 1 %}
<div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title">
                                <h2>Acreditar Pago</h2>
                               
                            </div>
    
                                <div id="paypal-button-container"></div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Total</h5>
                            <ul class="summary-table">
                                <li><span>subtotal:</span> <span>L. {{ SUBTOTAL|floatformat:2|intcomma }}</span></li>
                                <li><span>impuesto 15%:</span> <span>L. {{ ISV_15|floatformat:2|intcomma }}</span></li>
                                <li><span>impuesto 18%:</span> <span>L. {{ ISV_18|floatformat:2|intcomma }}</span></li>
                                <li><span>total:</span> <span>L. {{ TOTAL|floatformat:2|intcomma }}</span></li>
                            </ul>

                            <div class="payment-method">

                                <button onclick="completeOrder()">Click me</button>
                                <!-- Cash on delivery 
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="cod" checked>
                                    <label class="custom-control-label" for="cod">Cash on Delivery</label>
                                </div>-->
                                <!-- Paypal 
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="paypal">
                                    <label class="custom-control-label" for="paypal">Paypal <img class="ml-15" src="img/core-img/paypal.png" alt=""></label>
                                </div>-->
                            </div>

                            <div class="cart-btn mt-100">
                            
                            </div>
                        </div>
                    </div>



                </div>
            </div>
</div>

{% endif %}


{% if STATUS == 3 %}
<div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title">
                                <h2>Checkout</h2>
                               
                            </div>

                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" id="first_name" value="{{ DIRECCION.nombre }}" placeholder="Nombre Completo" required>
                                    </div>
                                   
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" id="email" placeholder="Correo Electronico" value="{{ DIRECCION.email }}">
                                    </div>
                                    
                                    
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" id="city" placeholder="Barrio/Colonia/Residencial" value="{{ DIRECCION.direccion }}">
                                    </div>
                                    
                                    <div class="col-md-6 mb-3">
                                        <input type="number" class="form-control" id="phone_number" min="0" placeholder="Telefono" value="{{ DIRECCION.telefono }}">
                                    </div>

                                     <div class="col-md-6 mb-3">
                                        <input type="number" class="form-control" id="phone_number" min="0" placeholder="Telefono Opcional" value="{{ DIRECCION.telefono2 }}">
                                    </div>

                                    <div class="col-12 mb-3">
                                        <textarea name="comment" class="form-control w-100" id="comment" cols="30" rows="10" placeholder="Otra Direccion" >{{ DIRECCION.direccion2 }}</textarea>
                                    </div>

                                    <div class="col-12">
                                     
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Total</h5>
                            <ul class="summary-table">
                                <li><span>subtotal:</span> <span>L. {{ SUBTOTAL|floatformat:2|intcomma }}</span></li>
                                <li><span>impuesto 15%:</span> <span>L. {{ ISV_15|floatformat:2|intcomma }}</span></li>
                                <li><span>impuesto 18%:</span> <span>L. {{ ISV_18|floatformat:2|intcomma }}</span></li>
                                <li><span>total:</span> <span>L. {{ TOTAL|floatformat:2|intcomma }}</span></li>
                            </ul>

                            <div class="payment-method">

                               
                                <!-- Cash on delivery 
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="cod" checked>
                                    <label class="custom-control-label" for="cod">Cash on Delivery</label>
                                </div>-->
                                <!-- Paypal 
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="paypal">
                                    <label class="custom-control-label" for="paypal">Paypal <img class="ml-15" src="img/core-img/paypal.png" alt=""></label>
                                </div>-->
                            </div>

                            <div class="cart-btn mt-100">
                            <form class="cart clearfix" method="post" action='/store/carrito/check'>
                            {% csrf_token %}
                               <!-- <a href="#" type="submit" class="btn amado-btn w-100">Checkout</a>-->
                                <button type="submit" class="btn amado-btn w-100">Pagar</button>
                            </form>

                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endif %}

{% endblock %}


{% block script %}
<script
    src="https://www.paypal.com/sdk/js?client-id=ARA3Z_RRJi1mLxT2AfYNp4ozoYeRGQO2ngo23TxgV3bzQ0FqNHopCjyoDxCOXAueYDQYdIQUgR7L1Hfe"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
</script>

<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

  var total = "{{ TOTAL|floatformat:0 }}"
  var ordenId = "{{ ITEMP }}"
 
  



  function completeOrder(){
    var url = "{% url 'base:complete' %}"

    fetch(url,{
        method:'POST',
        headers:{
            'Content-type':'application/json',
            'X-CSRFToken': csrftoken,
        },
        body:JSON.stringify({'ordenId':ordenId,})

    })

  }
  console.log(ordenId)
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: total
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        completeOrder()
        alert('Transaction completed by ' + details.payer.name.given_name);
      });
    }
  }).render('#paypal-button-container');
  //This function displays Smart Payment Buttons on your web page.
</script>


{% endblock %}