{% extends 'base_store.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}


{% block content %}


 <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

               <!-- <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                                <li class="breadcrumb-item"><a href="#">Chairs</a></li>
                                <li class="breadcrumb-item active" aria-current="page">white modern chair</li>
                            </ol>
                        </nav>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% if DETALLE.imagen %}
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(/{{ DETALLE.imagen }});">
                                    </li>
                                    {% endif %}

                                    {% if DETALLE.imagen2 %}
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(/{{ DETALLE.imagen2 }});">
                                    </li>
                                    {% endif %}

                                    {% if DETALLE.imagen3 %}
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(/{{ DETALLE.imagen3 }});">
                                    </li>
                                    {% endif %}

                                    {% if DETALLE.imagen4 %}
                                    <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url(/{{ DETALLE.imagen4 }});">
                                    </li>
                                    {% endif %}

                                    {% if DETALLE.imagen5 %}
                                    <li data-target="#product_details_slider" data-slide-to="4" style="background-image: url(/{{ DETALLE.imagen5 }});">
                                    </li>
                                    {% endif %}

                                    {% if DETALLE.imagen6 %}
                                    <li data-target="#product_details_slider" data-slide-to="5" style="background-image: url(/{{ DETALLE.imagen6 }});">
                                    </li>
                                    {% endif %}
                                    
                                </ol>
                                <div class="carousel-inner">
                                    {% if DETALLE.imagen %}
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="/{{ DETALLE.imagen }}">
                                            <img class="d-block w-100" src="/{{ DETALLE.imagen }}" alt="First slide">
                                        </a>
                                    </div>
                                    {% endif %}

                                    {% if DETALLE.imagen2 %}
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/{{ DETALLE.imagen2 }}">
                                            <img class="d-block w-100" src="/{{ DETALLE.imagen2 }}" alt="Second slide">
                                        </a>
                                    </div>
                                    {% endif %} 

                                    {% if DETALLE.imagen3 %}
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/{{ DETALLE.imagen3 }}">
                                            <img class="d-block w-100" src="/{{ DETALLE.imagen3 }}" alt="Second slide">
                                        </a>
                                    </div>
                                    {% endif %} 

                                    {% if DETALLE.imagen4 %}
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/{{ DETALLE.imagen4 }}">
                                            <img class="d-block w-100" src="/{{ DETALLE.imagen4 }}" alt="Second slide">
                                        </a>
                                    </div>
                                    {% endif %} 

                                    {% if DETALLE.imagen5 %}
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/{{ DETALLE.imagen5 }}">
                                            <img class="d-block w-100" src="/{{ DETALLE.imagen5 }}" alt="Second slide">
                                        </a>
                                    </div>
                                    {% endif %} 

                                    {% if DETALLE.imagen6 %}
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/{{ DETALLE.imagen6 }}">
                                            <img class="d-block w-100" src="/{{ DETALLE.imagen6 }}" alt="Second slide">
                                        </a>
                                    </div>
                                    {% endif %} 
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price"> L.{{ DETALLE.pre_venta|floatformat:2|intcomma  }}</p>
                                <a href="#">
                                    <h6>{{ DETALLE.nombre }}</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="review">
                                        <a href="#">Escribe una reseña</a>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                <h6> <p class="avaibility"><i class="fa fa-circle"></i> Existencia : {{ DETALLE.stock_actual|floatformat:0|intcomma  }}</p></h6>
                                {% if DETALLE.subcategoria %}
                                <h6> <p class="avaibility"><i class="fa fa-circle"></i> Sub Categoria : <span class="badge badge-success">{{ DETALLE.subcategoria }}</span> </p></h6>
                                {% endif %}
                                {% if DETALLE.talla %}
                                <h6> <p class="avaibility"><i class="fa fa-circle"></i> Talla : <span class="badge badge-success">{{ DETALLE.talla }}</span> </p></h6>
                                {% endif %}
                                {% if DETALLE.color %}
                                <h6> <p class="avaibility"><i class="fa fa-circle"></i> Color : <span class="badge badge-success">{{ DETALLE.color }}</span> </p></h6>
                                {% endif %}
                            </div>

                            <div class="short_overview my-5">
                                <p>{{ DETALLE.descripcion }}</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="post" action='.'>
                            {% csrf_token %}
                                <div class="cart-btn d-flex mb-50">
                                    <p>Qty</p>
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <!--<button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>-->
                                <button type="submit" class="btn amado-btn">Agregar al Carrito</button>
                                
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->


{% endblock %}



{% block script %}


{% endblock %}