{% extends 'base_store.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}



{% block content %}


<v-container grid-list-lg>
    <v-layout row wrap>
        
        <v-flex xs12 lg5 md5>
        <v-card class="mx-auto"  >
            <div class="fotorama" data-allowfullscreen="true"  data-width="800" data-height="600"  data-nav="thumbs" data-loop="true" data-arrows="true" data-click="true" data-swipe="false">
            {% if DETALLE.imagen %}
                <img src="/{{ DETALLE.imagen }}">
            {% endif %}
            {% if DETALLE.imagen2 %}
                <img src="/{{ DETALLE.imagen2 }}">
            {% endif %}
            {% if DETALLE.imagen3 %}
                <img src="/{{ DETALLE.imagen3 }}">
            {% endif %}
            {% if DETALLE.imagen4 %}
                <img src="/{{ DETALLE.imagen4 }}">
            {% endif %}
            {% if DETALLE.imagen5 %}
                <img src="/{{ DETALLE.imagen5 }}">
            {% endif %}
            {% if DETALLE.imagen6 %}
                <img src="/{{ DETALLE.imagen6 }}">
            {% endif %}
            </div>
        </v-card>
        </v-flex>

        <v-flex xs12 lg7 md7>
            <v-card class="mx-auto" >
                <v-card-text>
                    <div>Marcas y Productos seleccionados</div>
                    <p class="display-1 text--primary">
                        {{ DETALLE.nombre }}
                    </p>

                    <p class="display-1 text--primary">
                       $ {{ DETALLE.pre_venta|floatformat:0|intcomma  }}.00
                    </p>

                   
                    <div class="">
                        <v-icon dense small large color="green">mdi-checkbox-blank-circle</v-icon> Existencia : {{ DETALLE.stock_actual|floatformat:0|intcomma  }}
                        {% if DETALLE.subcategoria %}
                        <br><v-icon dense small large color="green">mdi-checkbox-blank-circle</v-icon> Sub Categoria : {{ DETALLE.subcategoria }}
                        {% endif %}
                        {% if DETALLE.talla %}
                        <br><v-icon dense small large color="green">mdi-checkbox-blank-circle</v-icon> Talla : {{ DETALLE.talla }}
                        {% endif %}
                        {% if DETALLE.color %}
                        <br><v-icon dense small large color="green">mdi-checkbox-blank-circle</v-icon> Color : {{ DETALLE.color }}
                        {% endif %}
                    <br>
                    </div>
                    <br><div class="text--primary">
                       {{ DETALLE.descripcion }}
                    </div>
                </v-card-text>
                <v-card-actions>
                    <form class="cart clearfix" method="post" action='.'>
                        {% csrf_token %}
                        <v-flex xs12>
                            <v-subheader  id="qty" name="quantity" class="pl-0">Cantidad de Producto</v-subheader>
                            <br>
                            <v-slider
                              id="qty" name="quantity" 
                             
                              thumb-color="green"
                              thumb-label="always"
                              min=1
                              max= {{ DETALLE.stock_actual|floatformat:0|intcomma  }}
                            ></v-slider>


                          </v-flex>
                    
                        
                        <br> 
                        {% if user.is_authenticated %}
                        <v-btn type="submit" color="green"  >
                            <v-icon>mdi-cart</v-icon> Agregar 
                        </v-btn>
                        {% else %}
                        <v-btn  href="{% url 'social:begin' 'facebook' %}"  color="blue"  >
                            <v-icon>mdi-facebook</v-icon> Incia Sesion para agregar
                        </v-btn>

                        {% endif %}
                        
                </form>
                </v-card-actions>
            </v-card>
        </v-flex>


        <v-flex xs12 lg12 md12>
            <v-card class="mx-auto" >
                Detalles y productos relacionados
                {{ MENSAJE }}
              


            </v-card>

        </v-flex>



{% endblock %}




{% block script %}



{% if ALERT == "on" %}
<script>
{% if MENSAJE == "agregado" %}
    msj = "Se agrego exitosamente!!"
    icono = 'success'
{% else %}
    msj="{{ MENSAJE }}"
    icono = 'warning'
{% endif %}

    Swal.fire({
        position: 'top-end',
        icon: icono,
        title : msj,
        showConfirmButton: false,
        timer: 2000
    })
    
    </script>
{% endif %}

{% endblock %}