{% extends 'base_store.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}


{% block head %}

{% endblock %}



{% block content %}

<h1 align="center"> Lista de Productos Encontrados</h1>
{% for i in ITEMS %}
<v-card class="mx-auto" max-width="944">
<v-list-item three-line>
  <v-list-item-content>
    <div class="overline mb-4">
        Cantidad Disponibles : {{ i.stock_actual }} Precio Venta: {{ i.pre_venta }}
    </div>
    <v-list-item-title class="headline mb-1">{{ i.nombre }}</v-list-item-title>
    <v-list-item-subtitle>
        <h4>Precio Venta: {{ i.pre_venta }}</h4><br>

    </v-list-item-subtitle>
    <v-list-item-subtitle>
    
        {{ i.descripcion }}
    </v-list-item-subtitle>

    <div class="">
        {% if i.subcategoria %}
            <br><v-icon dense small large color="green">mdi-checkbox-blank-circle</v-icon> {{ i.subcategoria }}
        {% endif %}
        {% if i.talla %}
            <br><v-icon dense small large color="green">mdi-checkbox-blank-circle</v-icon> Talla : {{ i.talla }}<br>
        {% endif %}
        {% if i.color %}
            <br><v-icon dense small large color="green">mdi-checkbox-blank-circle</v-icon> Color : {{ i.color }}<br>
        {% endif %}
        </div>

  </v-list-item-content>

  <v-list-item-avatar tile size="140" color="grey" >
  <v-img height="150" width="150" src="/{{ i.imagen }}"></v-img>
</v-list-item-avatar>
</v-list-item>

<v-card-actions>
  <v-btn color="green" block text  href="{% url 'base:store_id' i.id %}" >Ver Mas Detalle</v-btn>
 
</v-card-actions>
</v-card>
<br>
{% endfor %}


{% endblock %}


{% block script %}

{% endblock %}